LABEL cos64
TEXT HELP
Boot the Fenrir install medium on BIOS.
It allows you to install Fenrir or perform system maintenance.
ENDTEXT
MENU LABEL Fenrir default (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-cachyos
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-cachyos.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=10G copytoram=n module_blacklist=pcspkr i915.modeset=1 amdgpu.modeset=1 nvme_load=yes quiet splash loglevel=3 systemd.show_status=false rd.udev.log_level=3 vt.global_cursor_default=0

# Fallback (nomodeset)
LABEL cos64fb
TEXT HELP
Boot the Fenrir install medium on Bios in fallback mode
It allows you to install Fenrir or perform system maintenance.
ENDTEXT
MENU LABEL Fenrir Fallback (nomodeset, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-cachyos
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-cachyos.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=10G copytoram=n module_blacklist=nvidia,nvidia_modeset,nvidia_uvm,nvidia_drm,pcspkr nomodeset nvme_load=yes quiet loglevel=3 systemd.show_status=false rd.udev.log_level=3 vt.global_cursor_default=0
