[Desktop Entry]
Type=Application
Name=Install Fenrir
Comment=Install Fenrir to disk
Exec=pkexec-wrapper fenrir-installer
Icon=drive-harddisk
Terminal=false
Categories=System;
